//dark theme
$dark-blue: #141d2e;
$dull-blue: #1e2b48;
$white: #fff;
$bright-blue: #07f;
$border: #697c9b;

//light theme
$light-back: #f5f7ff;
$prim-color: #2a3341;
$secon-color: #697c9b;
$shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.1986);
$icon-color: #4b699b;

//transition
$transition: all 0.5s ease-in;
